*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#bgVid{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.intro{
  padding: 25px;
  background-color: rgba(75,75,75,0.3);
  border: 2px solid rgba(255,255,255,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 370px;
}

.intro > .nextBtn{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px,6vw,22px);
  background-color: rgba(0,105,65,0.7);
  font-weight: bolder;
  border: 2px solid rgba(255,255,255, 0.3);
  transition: 0.4s;
}

.intro > .nextBtn:active{
  scale: 1.1;
}


.intro > .introduction{
  font-size: clamp(17px,10vw,27px);
  background-image: linear-gradient(to right , red,blue);
  background-clip: text;
  color: transparent;
  animation: chx 8s ease infinite;
  transition: .3s;
  text-shadow: 2px 2px 1px black;
}

@keyframes chx{
  0%{
    background-image: linear-gradient(to right , white,blue);
  }
  30%{
    background-image: linear-gradient(to right , blue,red);
  }
  50%{
    background-image: linear-gradient(to right , pink,orange);
  }
  100%{
    background-image: linear-gradient(to right , white,blue);
  }
}

.intro.hide{
  opacity: 0;
  transition: 1s;
}

.imageShow{
  position: fixed;
  width: 100%;
  height: 50%;
  border: 2px solid rgba(255,255,255,0.4);
  opacity: 0;
  z-index: -1;
  left: 0;
}

.imageShow.show{
  opacity: 1;
  transition: 1.1s;
  animation: slideUp 5s linear forwards;
  overflow: hidden;
  height: 50%;
  border: 0;
}

@keyframes slideUp{
  0%{
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  50%{
    top: 40px;
  }
  100%{
    top: 0;
    height: 50%;
  }
}

.imageShow.show > .images{
  position: absolute;
  width: 200px;
  height: 200px;
  right: -1000px;
}

.imageShow.show > .images.slideIn{
  position: absolute;
  width: 300px;
  height: 300px;
  right: 0;
  transition: .8s;
  top: 50%;
  left: 50%;
  border: 2px solid red;
  transform: translate(-50% ,-50%);
  animation: boder .5s ease forwards;
}

@keyframes boder {
  0%{
    border-radius: 0;
  }
  50%{
    border-radius: 0;
  }
  90%{
    border-radius: 0;
  }
  100%{
    border-radius: 100%;
  }
}

.mainContent{
  position: fixed;
  height: 70%;
  width: 100%;
  bottom: 0;
  left: -1000px;
}

.mainContent.sshow{
  position: fixed;
  height: 300px;
  width: 80%;
  max-width: 600px;
  background-color: rgba(0,0,0,0.6);
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  transition: 5.1s;
  justify-content: center;
  align-items: center;
  word-wrap: wrap;
  color: white;
  font-size: clamp(24px,15vw,32px);
  font-weight: bolder;
  border: 0;
  padding: 30px;
  border-radius: 10px;
  overflow-y: scroll;
}